.claude/
.vscode/
venv/

# Ansible data
_inventory
.inventory.toml
.inventory.*.toml
.ansible/

# Script files
data/vpn.sh
data/mount.sh
data/net.sh

# SSH Secrets
data/emergenkey
data/emergenkey.pub
data/masterkey
data/masterkey.pub
data/sshd_config

# Secrets
vars/vars.secrets.yaml