# {{ ansible_managed }}
[Interface]
Address = 10.0.0.{{ hostvars[inventory_hostname].id }}/32
ListenPort = 51820
PrivateKey = {{ privkey }}

{% for host in groups['all'] if host != inventory_hostname and hostvars[host].pubkey is defined %}
[Peer]
PublicKey = {{ hostvars[host].pubkey }}
AllowedIPs = 10.0.0.{{ hostvars[host].id }}/32
{% if 'net_houston' in group_names and 'net_houston' in hostvars[host].group_names %}
Endpoint = {{ hostvars[host].inventory_hostname }}:51820 # {{ hostvars[host].host }}
{% else %}
Endpoint = {{ hostvars[host].ip }}:51820 # {{ hostvars[host].host }}
{% endif %}
PersistentKeepalive = 25

{% endfor %}
