# {{ ansible_managed }}
[Interface]
Address = 10.0.1.{{ hostvars[inventory_hostname].id }}/32
ListenPort = 51820
PrivateKey = {{ privkey }}

{% for host in groups['clients'] %}
[Peer]
PublicKey = {{ hostvars[host].pubkey }}
AllowedIPs = 10.0.1.{{ hostvars[host].id }}/32
Endpoint = {{ hostvars[host].ip }}:51820
PersistentKeepalive = 25

{% endfor %}
