# {{ ansible_managed }}
# Full configuration options can be found at https://www.vaultproject.io/docs/configuration

ui = false
api_addr     = "http://{{ wg_ip }}:8200"
cluster_addr = "http://{{ wg_ip }}:8201"

#mlock = true
#disable_mlock = true

#storage "file" {
#  path = "/opt/vault/data"
#}

#storage "consul" {
#  address = "{{ wg_ip }}"
#  path    = "vault"
#}

service_registration "consul" {
  address = "{{ wg_ip }}:8500"
}

storage "postgresql" {
  connection_url = "postgres://{{ db_user }}:{{ db_pass }}@postgres.service.consul:5432/zdvault?sslmode=disable"
  ha_enabled     = "true"
}

# HTTP listener
listener "tcp" {
  address     = "{{ wg_ip }}:8200"
  tls_disable = 1
}

# HTTPS listener
#listener "tcp" {
#  address       = "{{ wg_ip }}:8200"
#  tls_cert_file = "/opt/vault/tls/tls.crt"
#  tls_key_file  = "/opt/vault/tls/tls.key"
#}

# Enterprise license_path
# This will be required for enterprise as of v1.8
#license_path = "/etc/vault.d/vault.hclic"

# Example AWS KMS auto unseal
#seal "awskms" {
#  region     = "us-east-1"
#  kms_key_id = "REPLACE-ME"
#}

# Example HSM auto unseal
#seal "pkcs11" {
#  lib            = "/usr/vault/lib/libCryptoki2_64.so"
#  slot           = "0"
#  pin            = "AAAA-BBBB-CCCC-DDDD"
#  key_label      = "vault-hsm-key"
#  hmac_key_label = "vault-hsm-hmac-key"
#}
